button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0.5rem;
  background-color: #3c2954; 
  color: #f2e9ff; 
  border: none;
  font: inherit;
  cursor: pointer;
  width: 100%;
  min-width: 10rem;
  text-align: left;
  border-radius: 6px; 
  box-shadow: 12px 5px 12px rgba(0, 0, 0, 0.6); 
  transition: all 0.3s ease-in-out; 
}

button:hover,
button:active,
.active {
  background-color: #9965dd;
  color: #150722;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.35);
  transform: translateY(-2px);
}

img {
  width: 2rem;
  object-fit: contain;
  border-radius: 50%;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

span {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: normal;
}
